{
    "presets": [
        ["minify"],
        [
            "@babel/preset-env", {
                "loose": true,
                "targets": {
                    "node": true
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-export-default-from", {
                "loose": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}